* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body {
    background: url(./bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.container {
    float: left;
    height: 100%;
    width: 50%;
    margin-left: 150px;
    margin-top: 200px;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}

span {
    border-bottom: 2px solid #18d26e;
    padding-bottom: 6px;
    color: #fff;
}

p {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.8)
}

ul {
    margin-top: 30px;
    font-size: 18px;
    display: flex;
}

ul li {
    list-style: none;
    margin-right: 35px;
}




ul li a {
    text-decoration: none;
    color: white;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
}

ul li a::before {
    content: "";
    position: absolute;
    bottom: -6px;
    height: 2px;
    width: 0;
    background: #18d26e;
    transition: width 0.3s ease;
}

ul li a:hover::before {
    width: 50%;
}

ul li a:hover{
    color: white;
}






.active {
    color: white;
}

.socialLinks div {
    background-color: #282828;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialLinks {
    display: flex;
}

.socialLinks div svg {
    height: 30px;
    width: 30px;
}